$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan : hsl(167, 40%, 24%);
$Darkblue : hsl(198, 62%, 26%);
$Darkmoderatecyan : hsl(168, 34%, 41%);
$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

@mixin monH2 {
    width: 720px;
    height: 98px;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: -0.2857142984867096px;
    text-align: left;
}

@mixin monP {
    width: 445px;
    height: 90px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.12857143580913544px;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 40px;
}

@mixin monH3 {
    width: 137px;
    height: 125px;
    color: #24303E;

    font-family: 'Fraunces', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin monTextePhoto {
    width: 339px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    width: 339px;
    margin-top: 400px;
    text-align: center;
    margin-left: 175px;

    & h2 {
        padding-bottom: 50px;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.2px;
    }

}

@mixin photoDesign {
    width: 720px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

* {
    margin: 0;
}


body {
    & p {
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        width: 100%;
        font-size: 18px;

    }
}

//------------------HEADER--------------------------- //
header {
    background-image: url(img/photos/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 800px;




    .topnav {
        padding: 0;
        margin: 0;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 0, 7em;
        overflow: hidden;


        & a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 1em 2em;
            margin-top: 3em;
            margin-right: 3em;
            text-decoration: none;
        }




        & .active {
            border-radius: 28px;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            font-family: 'Fraunces', serif;
            text-transform: uppercase;
        }

        & .topnav__right {
            float: right;
        }

        & .topnav__left {
            margin-top: 3em;
            margin-left: 3em;
            padding: 1em 2em;
        }

    }

    & .header__element {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        color: white;
    }

    & .header__element2 {
        display: flex;
        align-items: center;


    }


}

//-------------------main-------------->
.design {
    display: flex;
    flex-direction: column;

    &__mirrorbox1 {
        display: flex;

        &__texte {
            width: 445px;
            height: 285px;
            margin-top: 158px;
            margin-bottom: 157px;
            margin-left: 165px;
            margin-right: 110px;
            font-family: 'Fraunces', serif;
            font-weight: 900;

            & h2 {
                @include monH2;

            }

            & p {
                @include monP;

            }

            & h3 {
                @include monH3;
            }



        }

        &__img {
            width: 720px;
            height: 600px;
        }
    }

    &__mirrorbox1-2 {
        display: flex;

        &__texte {
            width: 445px;
            height: 286px;
            margin-top: 157px;
            margin-bottom: 157px;
            margin-left: 110px;
            margin-right: 165px;

            & h2 {
                width: 445px;
                height: 98px;
                font-family: 'Fraunces', serif;
                font-size: 40px;
                font-weight: 900;
                line-height: 49px;
                letter-spacing: -0.2857142984867096px;
                text-align: left;
            }

            & p {
                @include monP;

            }

            & h3 {
                @include monH3;
            }


        }

        &__img {
            width: 720px;
            height: 600px;
        }
    }

    &__mirrorbox3 {
        width: 1440px;
        display: flex;
       
        &__photogauche {
            width: 720px;
            height: 600px;
            background-image: url(img/photos/image-graphic-design.jpg);
            @include photoDesign;

            &__texte {
                color: $Darkdesaturatedcyan;
                @include monTextePhoto;
            }
        }

        &__photodroite {
            width: 720px;
            height: 600px;
            background-image: url(img/photos/image-photography.jpg);
            @include photoDesign;

            &__texte {
                color: $Darkblue;
                @include monTextePhoto;
            }
        }
    }

    &__testimonial {
        width: 1440px;
        height: 450px;
        flex-shrink: 0;
        &__titre {
            text-align: center;
            padding-top:100px;
        }
        
        &__colonne {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            padding-top: 160px;
        padding-left:165px ;
        padding-right: 165px;
        &__un {
            display:flex;
            flex-direction: column;
            align-items: center;
            & .photo-emily {
                border-radius: 50% 50% 50% 50%;
                width:20%;
            }
        }
        &__deux{
            display:flex;
            flex-direction: column;
            align-items: center;
            & .photo-thomas {
                border-radius: 50% 50% 50% 50%;
                width:20%;
            }
        }
        &__trois{
            display:flex;
            flex-direction: column;
            align-items: center;
            & .photo-jennie {
                border-radius: 50% 50% 50% 50%;
                width:20%;
            }
        }
        }
    }
}