@mixin monH2 {
    width: 445px;
    height: 98px;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: -0.2857142984867096px;
    text-align: left;
}